body.a1{
	background-color:pink;
	background-image:url('https://lh3.googleusercontent.com/proxy/zQMjBkT9l7kOhwZp__FLWnSaDNH3n0sMqUrMLBOSVF5ayY56PgIfQ4KOVvd45EYmkPkpQ93Xnr0Hbiqxa48lQ7ezyVoPuE654b5Dmopcpz0');
	list-style-type:none;
}
.bg-image1{
    float:left;
	margin:-530px -200px;
	height:80px;
}

.bg-image2{
	float:left;
	margin:-100px 790px;
}
.bg-image3{
	margin:100px 300px;
}

h1{
	text-align:center;
	color:red;
}
h2{
	color:purple;
	font-size:32px;
}
h3{
	float:right;
	margin:0px 10px;
	color:purple;
	font-size:32px;}
	
	
p{
	color:red;
	font-size:26px;
	
	
}
.p1{
	float:right;
	color:red;
	font-size:26px;
}
.title{
	font-size:24px;
	margin:10px auto;
}
.title1{
	
	font-size:24px;
	margin:30px auto;
}


.a{
	list-style-type:square;
	color:blue;
	text-align:justify;
	font-size:20px;
	margin:20px 0;
}
.b{
	list-style-type:square;
	color:blue;
	text-align:justify;
	font-size:20px;
    margin:30px 30px;}

img{
	float:right;
	margin:30px 200px;
	width:150px;
	height:150px;
}
.image1{
	float:left;
	margin:60px 80px;
}
.bottomnav-right1{
	list-style-type:none;
}

.bottomnav-right1 a{
	
  text-align:center;
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
   /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  padding: 10px;
  margin: 60px -500px;
  text-decoration: none;
  font-size: 20px;
  float:left;
}

.bottomnav-right1 a:hover {
	
  background-color: #ddd
  color: black; 
  
}



.next {
  background-color: #4CAF50;
  color: red
}

.round{
	 border-radius:100%;
 }
.bottomnav-right2{
list-style-type:none;
}
.bottomnav-right2 a{
  text-align:center;
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
   /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  padding: 10px;
  margin: 60px 60px;
  text-decoration: none;
  font-size: 20px;
  float:right;
}

.bottomnav-right2 a:hover {
	
  background-color: #ddd;
  color: black; 
  
}

.next {
  background-color: #4CAF50;
  color: red;
}

.round{
	 border-radius:100%;
 }
